[Package]
version: 1
depends: 

[Product]
type: localboot
id: dfn_greenshot
name: Greenshot
description: Werkzeug zum Aufnehmen von Bildschirmfotos [Tool for making screenshots]
advice: 
version: 1.2.10.6
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: unicode
name: language
multivalue: False
editable: True
description: Language the program should run in (in the IETF format (e.g. en-US or de-DE))
values: ["auto", "de-DE", "en-US"]
default: ["auto"]

[ProductProperty]
type: unicode
name: allowed-plugins
multivalue: True
editable: True
description: Define which Plugins should be active (if " " is selected as the only thing, all are active. Selecte "none" as the only thing, if you don't want to have any Plugins)
values: [" ", "Box Plugin", "Confluence Plugin", "Dropbox Plugin", "External command Plugin", "Flickr Plugin", "Imgur Plugin", "Jira Plugin", "Office Plugin", "Photobucket Plugin", "Picasa-Web Plugin", "none"]
default: [" "]

[ProductProperty]
type: bool
name: desktop-link
description: Link on Desktop?
default: False

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_greenshot (1.2.10.6-1)
	* neue Upstreamversion (trotz Notify leider übersehen, besser spät als nie ;-))
	* alte uib Copyrights (Überbleibsel von opsi-template) entfernt
	* Desktopicon -> Desktoplink (gem. o4i-Richtlinie)
	* neues o4i-Logo; eigenes Logo möglich, Aufruf nach common.opsiinc ausgelagert (gem. o4i-Richtlinie)
	* neue Registrysuche (https://github.com/opsi4instituts/lib, winst-Version 4.12.0.16 Voraussetzung)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 24.01.2019

dfn_greenshot (1.2.9.129-2)
	* update-check deaktiviert in greenshot.ini
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 28.01.2017

dfn_greenshot (1.2.9.129-1)
	* Neue Upstreamversion ('January Bug Bash' mit 24 gefixten Bugs)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 28.01.2017

dfn_greenshot (1.2.9.112-1)
	* Neue Upstreamversion (Bugfix)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 02.01.2017

dfn_greenshot (1.2.9.104-1)
	* Neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 20.12.2016

dfn_greenshot (1.2.8.14-1)
	* Neue Upstreamversion
	* auf- und umgeräumt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 08.11.2016

dfn_greenshot (1.2.8.12-1)
	* Initiales DFN-Paket
 -- Lukas Stapelbroek (archIT/KIT) <lukas.stapelbroek9@kit.edu>, 10.10.2016


























































